<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <title>Manajemen Basis Data CRUD</title>
    </head>
    <body> 
        <div class="d-flex flex-row p-5">
            <div class="container">
                <form class="needs-validation" method="post" action="/create" novalidate>
                    <div class="form-row mt-5">
                        <div class="col-10 mb-3">
                            <label for="firstname">First Name</label>
                            <input type="text" class="form-control" name="firstname" id="firstname" placeholder="First Name" required>
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                        </div>
                        <div class="col-10 mb-3">
                            <label for="lastname">Last Name</label>
                            <input type="text" class="form-control" name="lastname" id="lastname" placeholder="Last Name"  required>
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                        </div>
                        <div class="col-10 mb-3">
                            <label for="username">Username</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="@">@</span>
                                </div>
                                <input type="text" class="form-control" name="username" id="username" placeholder="Username" aria-describedby="@" required>
                                <div class="invalid-feedback">
                                    Please choose a username.
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-10 mb-3">
                            <label for="city">City</label>
                            <input type="text" class="form-control" name="city" id="city" placeholder="City" required>
                            <div class="invalid-feedback">
                                Please provide a valid city.
                            </div>
                        </div>
                        <div class="col-10 mb-3">
                            <label for="state">State</label>
                            <input type="text" class="form-control" name="state" id="state" placeholder="State" required>
                            <div class="invalid-feedback">
                                Please provide a valid state.
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="form-check mb-3">
                            <input class="form-check-input" type="checkbox" name="check"  id="invalidCheck" required>
                            <label class="form-check-label" for="invalidCheck">
                                Agree to terms and conditions
                            </label>
                            <div class="invalid-feedback">
                                You must agree before submitting.
                            </div>
                        </div>
                    </div>
                    <button class="btn btn-primary" type="submit">Submit form</button>
                </form>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col">
                        <table class="table text-center">
                            <thead class="thead-dark">
                                <tr>
                                    <th scope="col">First Name</th>
                                    <th scope="col">Last Name</th>
                                    <th scope="col">Username</th>
                                    <th scope="col">City</th>
                                    <th scope="col">State</th>
                                    <th scope="col">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% person.forEach((item)=>{ %>
                                <tr>
                                    <td><%= item.firstname %></td>
                                    <td><%= item.lastname %></td>
                                    <td><%= item.username%></td>
                                    <td><%= item.city %></td>
                                    <td><%= item.state %></td>
                                    <td>
                                        <a href="/edit/<%= item.id  %> " class="btn btn-primary">Edit</a>    
                                        <a href="/delete/<%= item.id %>" class="btn btn-danger">Delete</a>    
                                    </td>
                                </tr>
                                <% }); %> 
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
        <script src="../public/js/script.js"></script>
    </body>
</html>